<form action="/" method="POST">
<label >Enter keyword to search feed</label>
<input type="text" name="keyword" id="keyword">
<input type="submit" value="search">

</form>
<h3>Feed Titles:</h3>{{titles}}<br />   
<h3>Feed Descriptions:</h3>{{feedesc}}